* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    background-color: inherit;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    font-family: 'Open Sans', Verdana;
}

img, video {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}

a {
    color: #0079d3;
    text-decoration: none;
}

p, li {
    font-size: 14px;
    margin-bottom: 8px;
}

ul li {
    list-style: disc;
}

ol li {
    list-style-type: decimal;
}

li {
    margin-left: 24px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code {
    font-family: monospace;
    white-space: pre;
}

blockquote {
    font-style: italic;
    padding-left: 8px;
    position: relative;
}

blockquote:before {
    position: absolute;
    left: 0;
    width: 4px;
    content: "";
    height: 100%;
    background-color: #16a085;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    padding: 8px 16px;
}

.links {
    padding: 12px 16px 0px;
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.post, .comment {
    border-top: 1px solid #f0f0f0;
    padding: 12px 16px;
}

.post h2 {
    font-weight: bold;
    font-size: 18px;
}

.post h1, .comment h1 {
    padding: 0;
    margin-bottom: 8px;
}

.post .info {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 16px;
}

.post .info time {
    font-weight: 500;
}

.post .info time, .post .info span {
    padding-right: 4px;
}

.post .links a {
    padding-right: 4px;
    font-weight: 400;
}

.post .links a:after {
    content: "|";
    position: relative;
    right: -4px;
}

.post .links a:last-child:after {
    content: "";
}

.comment .info {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.comment .info time {
    padding-right: 12px;
}

.comment .info div {
    font-weight: 300;
    font-size: 12px;
    padding-right: 8px;
    position: relative;
    top: -1px;
}

.comments h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 8px 16px;
}

.op {
    background: #0055df;
    color: white;
    font-weight: 700;
    padding: 0px 4px;
    border-radius: 4px;
}

button {
    border: 1px solid #1abc9c60;
    color: #1abc9c;
    border-radius: 5px;
    padding: 4px 8px;;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    font-weight: bold;
    top: 10px;
    background-color: #1abc9c20;
}

button:hover {
    background-color: #1abc9c40;
}

.preview.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
}

.preview.full img, .preview.full video {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
}